@use 'variables';
@use 'mixins';

:host {
  @include mixins.clear-button;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: variables.$titlebar-button-width;
  height: variables.$titlebar-height;

  .mat-icon {
    font-size: variables.$titlebar-button-icon-size !important;
    height: variables.$titlebar-button-icon-size !important;
    width: variables.$titlebar-button-icon-size !important;
  }

  &:hover {
    background: variables.$titlebar-button-hover-color;
  }
}

