<button
        mat-icon-button
        matTooltip="Меню сортировки по критерию"
        [disabled]="disabled()"
        [matMenuTriggerFor]="sortMenu">
  <mat-icon>sort</mat-icon>
</button>
<button
        mat-icon-button
        matTooltip="Порядок сортировки"
        [disabled]="disabled()"
        (click)="changeSortOrder()">
  <mat-icon> {{ sortOrderIconName() }} </mat-icon>
</button>
<mat-menu #sortMenu>
  @for (option of sortOptions(); track $index) {
    <button mat-menu-item
            class="sort-option"
            (click)="onSortOptionSelected(option)">
      <mat-icon> @if (sortOption() === option) { check } </mat-icon>
      <span>{{ option.name }}</span>
    </button>
  }
</mat-menu>