<div class="login-form" [formGroup]="loginForm">
  <h2>Вход в персональную библиотеку</h2>
  <mat-form-field>
    <mat-label>Пользователь</mat-label>
    <mat-select formControlName="selectedUser">
      @for (user of users(); track $index) {
        <mat-option [value]="user">{{ user.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>ПИН-код</mat-label>
    <input
      matInput
      type="password"
      formControlName="pinCode"
      inputmode="numeric"
      minlength="4"
      maxlength="16"
      digitOnly
    />
  </mat-form-field>
  <button
    mat-flat-button
    color="primary"
    [disabled]="loginForm.invalid || loginForm.pristine"
    (click)="login()"
  >
    <mat-icon>login</mat-icon>
    Войти
  </button>
  <button mat-flat-button color="accent" (click)="createUser()">
    <mat-icon>add</mat-icon>
    Создать нового пользователя
  </button>
</div>
