@use 'variables';

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

.book-file-input {
  display: none;
}

.sort-menu-radio-group {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.toolbar {
  display: flex;
  gap: 1em;
  align-items: center;
  flex-direction: row;
  div {
    padding: 0.5em 1em;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    gap: 1.5em;
  }

  .right-section {
    justify-content: end;
  }
}

.book-list-viewer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.nav-panel {
  min-width: 160px;
  border-radius: 1em;
  padding: 1em 0;
}

.mat-drawer-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
