<app-toolbar>
  <button app-icon-button matTooltip="Add books" (click)="openBookAddDialog()">
    add
    <span text>Добавить книгу</span>
  </button>
  <div>
    <input type="text" [formControl]="search" />
  </div>
</app-toolbar>
<app-book-list-view
  [books]="books()"
  (openItemEvent)="openBook($event)"
  (editItemEvent)="editBookDetails($event)"
  (deleteItemEvent)="deleteBook($event)"
>
  <app-loading-spinner-overlay
    [loading]="loading()"
  ></app-loading-spinner-overlay>
</app-book-list-view>
