<span mat-dialog-title>Результат обобщения текста</span>
<div mat-dialog-content>
  <span [innerText]="state().summarizedText"></span>
  <app-loading-spinner-overlay [loading]="state().isLoading"></app-loading-spinner-overlay>
</div>
<div class="dialog-actions" mat-dialog-actions>
  <div>Обобщение текста выполнена моделью нейронной сети от Яндекса. Текст может содержать неточности.</div>
  <div class="spacer"></div>
  <button mat-flat-button color="warn" (click)="close()">
    Закрыть
  </button>
</div>