:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 1em;
  font: inherit;
  color: inherit;
}

#word-list {
  display: inline-flex;
  flex-direction: column;
}

.mdc-list-item {
  border-radius: 2em;
  padding: 1em;
  height: auto !important;
}

.content {
  display: flex;
  flex-direction: column;

  .source {
    font-size: 0.75em;
    font-style: italic;
  }

  .username {
    font-size: 0.6em;
    font-weight: 600;
  }
}