<div #viewerContainer id="viewer-container">
  <ngx-extended-pdf-viewer
    #pdfViewer
    [(page)]="page"
    [(zoom)]="zoom"
    [sidebarVisible]="sidebarVisible"
    [customToolbar]="customToolbar"
    [contextMenuAllowed]="false"
    [textLayer]="true"
    [src]="documentSource()"
    [authorization]="bearerToken"
    [showHandToolButton]="true"
    [handTool]="false"
    [cdkContextMenuTriggerFor]="context_menu"
  ></ngx-extended-pdf-viewer>
</div>

<ng-template #context_menu>
  <div class="context-menu" cdkMenu>
    <button cdkMenuItem (click)="copyText()">Скопировать текст</button>
    <button cdkMenuItem>Перевести</button>
    <button cdkMenuItem>Значение</button>
  </div>
</ng-template>
<ng-template #customToolbar>
  <div id="custom-toolbar">
    <div class="left">
      <button app-icon-button (click)="toggleSidebar()">menu</button>
      <button app-icon-button (click)="goToFirstPage()">skip_previous</button>
      <button app-icon-button (click)="goToPrevPage()">navigate_before</button>
      <pdf-page-number></pdf-page-number>
      <button app-icon-button (click)="goToNextPage()">navigate_next</button>
      <button app-icon-button (click)="goToLastPage()">skip_next</button>
      <pdf-find-button
        [showFindButton]="true"
        [textLayer]="true"
      ></pdf-find-button>
    </div>
    <div class="mid">
      <button app-icon-button (click)="zoomIn()">add</button>
      <button app-icon-button (click)="zoomOut()">remove</button>
      <pdf-zoom-dropdown
        [zoomLevels]="pdfViewer.zoomLevels"
      ></pdf-zoom-dropdown>
    </div>
    <div class="right">
      <pdf-hand-tool class="btn"></pdf-hand-tool>
      <pdf-select-tool class="btn"></pdf-select-tool>
      <pdf-presentation-mode class="btn"> </pdf-presentation-mode>
      <pdf-print class="btn"></pdf-print>
      <pdf-download class="btn"></pdf-download>
      <pdf-toggle-secondary-toolbar class="btn"></pdf-toggle-secondary-toolbar>
    </div>
  </div>
</ng-template>
