<div
  id="pdf-viewer-container"
  app-tooltip-menu
  (textCopyEvent)="copyText($event)"
  (translationBtnClickEvent)="openTranslationDialog($event)"
  (textSumBtnClickEvent)="openTextSummarizationDialog($event)"
>
  <ngx-extended-pdf-viewer
    #pdfViewer
    [(page)]="page"
    [(zoom)]="zoom"
    [sidebarVisible]="sidebarVisible"
    [customToolbar]="customToolbar"
    [contextMenuAllowed]="false"
    [textLayer]="true"
    [src]="documentSource()"
    [authorization]="bearerToken"
    [showHandToolButton]="true"
    [handTool]="false"
  ></ngx-extended-pdf-viewer>
</div>

<ng-template #customToolbar>
  <div id="custom-toolbar">
    <div class="left">
      <pdf-toggle-sidebar></pdf-toggle-sidebar>
      <pdf-first-page></pdf-first-page>
      <pdf-previous-page></pdf-previous-page>
      <pdf-page-number class="custom-page-number"></pdf-page-number>
      <pdf-next-page></pdf-next-page>
      <pdf-last-page></pdf-last-page>
      <pdf-find-button></pdf-find-button>
    </div>
    <div class="mid">
      <pdf-zoom-in></pdf-zoom-in>
      <pdf-zoom-out></pdf-zoom-out>
      <pdf-zoom-dropdown
        [zoomLevels]="pdfViewer.zoomLevels"
      ></pdf-zoom-dropdown>
    </div>
    <div class="right">
      <pdf-hand-tool></pdf-hand-tool>
      <pdf-select-tool></pdf-select-tool>
      <pdf-presentation-mode> </pdf-presentation-mode>
      <pdf-print></pdf-print>
      <pdf-download></pdf-download>
      <pdf-toggle-secondary-toolbar></pdf-toggle-secondary-toolbar>
    </div>
  </div>
</ng-template>
