:host {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

#details-form {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.5em;
}

#actions {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
