<h2>Edit book details</h2>
<div id="details-form" [formGroup]="details">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput formControlName="description" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Publisher Name</mat-label>
    <input matInput formControlName="publisherName" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>ISBN</mat-label>
    <input matInput formControlName="isbn" />
  </mat-form-field>
</div>
<div id="actions">
  <button
    mat-flat-button
    color="primary"
    [disabled]="details.invalid || details.pristine"
    (click)="saveChanges()"
  >
    Save
  </button>
  <button mat-flat-button color="accent" routerLink="../..">Back</button>
</div>
