<ng-content></ng-content>
<ng-template #contextMenu>
  <div class="context-menu-container"
       [style.width]="TOOLTIP_CONTAINER_WIDTH + 'px'"
       [style.flex-direction]="flexDirection">
    <div class="tooltip-menu">
      <button matTooltip="Копировать"
              matTooltipPosition="above"
              (click)="emitTextCopyEvent()">
        <mat-icon>content_copy</mat-icon>
      </button>
      <button matTooltip="Перевести"
              matTooltipPosition="above"
              (click)="emitTranslationBtnClickEvent()">
        <mat-icon>translate</mat-icon>
      </button>
      <button matTooltip="Определение"
              matTooltipPosition="above"
              [disabled]="state().isLoading"
              (mouseup)="emitDefinitionBtnClickEvent()">
        <mat-icon>abc</mat-icon>
      </button>
      <button matTooltip="Обобщение текста"
              matTooltipPosition="above"
              (click)="emitTextSumBtnClickEvent()">
        <mat-icon>functions</mat-icon>
      </button>
    </div>
    @if (state().isOpen) {
      <div class="word-definition-popup"
           [style.height]="DEFINITION_POPUP_HEIGHT + 'px'"
           [style.width]="TOOLTIP_CONTAINER_WIDTH + 'px'">
        <div class="word-definition-container">
          @if (!state().savedWords.length) {
            <mat-form-field>
              <mat-select [(ngModel)]="currentDefinitionProvider">
                @for (provider of state().providers; track $index) {
                  <mat-option [value]="provider">{{ provider }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          }
          @if (!haveDefinitions()) {
            <span>Нет результатов для данного определения</span>
          }
          @for (entry of state().entries; track $index) {
            <div class="word">{{ entry.word }}</div>
            <div class="transcription">{{ entry.transcription }}</div>
            <ul>
              @for (definition of entry.definitions; track $index) {
                <li>
                  <span class="part-of-speech">{{ definition.partOfSpeech }}</span>
                  <span class="definition">{{ definition.definition }}</span>
                </li>
              }
            </ul>
            <div class="def-btn-container">
              @if (!isWordInDictionary(entry.word)) {
                <button mat-flat-button
                        color="primary"
                        [disabled]="state().isLoading || !haveDefinitions()"
                        (click)="emitWordAddBtnClickEvent(entry)">
                  <mat-icon>add</mat-icon>
                  Добавить в словарь
                </button>
              } @else {
                <button mat-flat-button
                        color="warn"
                        (click)="emitWordDelBtnClickEvent(entry)">
                  <mat-icon>delete</mat-icon>
                  Удалить из словаря
                </button>
              }
            </div>
          }
        </div>
        <app-loading-spinner-overlay [loading]="state().isLoading">
        </app-loading-spinner-overlay>
      </div>
    }
  </div>
</ng-template>