$menu-button-size: 36px;
$menu-button-font-size: 22px;
$definition-tooltip-height: 240px;

@mixin tooltipBlock {
  display: flex;
  border-radius: 4px;
  flex-direction: row;
  min-width: 100px;
  background-color: #ffffff;
  -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.75);
}

.context-menu-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: center;
}

.tooltip-menu {
  @include tooltipBlock();

  button {
    background-color: transparent;
    cursor: pointer;
    border: none;
    user-select: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-grow: 0;
    width: $menu-button-size;
    height: $menu-button-size;

    mat-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $menu-button-font-size;
    }

    &:hover {
      background-color: rgb(208, 208, 208);
    }
  }
}

.word-definition-popup {
  @include tooltipBlock();
  flex-direction: column;
  padding: 1em;
  position: relative;
  
  .word {
    font-size: 1.5em;
    font-weight: 600;
  }
  
  .word-definition-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin-bottom: 1em;
    flex-grow: 1;
  }
  
  .part-of-speech {
    font-style: italic;
    font-weight: 500;
    margin-right: 8px;
  }

  .def-btn-container {
    margin-bottom: 1em;
  }
}