<div [cdkMenuTriggerFor]="contextMenu"></div>
<ng-content></ng-content>
<ng-template #contextMenu>
  <div class="tooltip-menu">
    <button (click)="emitTextCopyEvent()">
      <mat-icon>content_copy</mat-icon>
    </button>
    <button (click)="emitTranslationBtnClickEvent()">
      <mat-icon>translate</mat-icon>
    </button>
    <button (click)="emitDefinitionBtnClickEvent()">
      <mat-icon>abc</mat-icon>
    </button>
    <button matTooltip="Обобщение текста" 
            matTooltipPosition="above" 
            (click)="emitTextSumBtnClickEvent()">
      <mat-icon>functions</mat-icon>
    </button>
  </div>
</ng-template>
