$sidenav-collapsed-width: 48px;
$sidenav-expanded-width: 240px;

:host {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: $sidenav-collapsed-width;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-property: width;

  &.expanded {
    width: $sidenav-expanded-width;
  }
}

.mat-sidenav-content {
  margin-left: $sidenav-collapsed-width;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-property: margin, width;
  
  &.handset {
    margin-left: 0;  
  }
  
  &.expanded {
    margin-left: $sidenav-expanded-width !important;
  }
}

.internal-sidenav {
  padding: 0.25em 0.1em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  a[mat-list-item] {
    display: flex;
    flex-direction: row;
    width: auto;
    margin-bottom: 0.25em;
  }
}
