.book-add-form {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.5em;
}

.file-input {
  display: none;
}

.list-title {
  margin: 0.2em;
}

.author-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 1em;
  
  .author-name {
    flex: 1;
  }
}