$app-button-bg-color-hover: black;
$app-button-opacity-hover: 0.05;
$titlebar-height: 24px;
$titlebar-button-width: 48px;
$titlebar-button-icon-size: 16px;
$titlebar-button-hover-color: #858585;
$titlebar-color: #afafaf;
$toolbar-height: 36px;
$viewer-side-bar-max-width: 300px;
