<div mat-dialog-content class="dialog-content" [formGroup]="languageFormGroup">
  <div class="language-selector-section">
    <div class="language-dropdown-container">
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-label>Язык исходного текста</mat-label>
        <mat-select formControlName="sourceLanguage">
          @for (language of languages; track $index) {
            <mat-option [value]="language.code">{{ language.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <button mat-icon-button (click)="swapLanguages()">
      <mat-icon>swap_horiz</mat-icon>
    </button>
    <div class="language-dropdown-container right">
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <mat-label>Язык перевода</mat-label>
        <mat-select formControlName="targetLanguage">
          @for (language of languages; track $index) {
            <mat-option [value]="language.code">{{ language.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="section">
    <textarea
      class="text-container"
      cdkTextareaAutosize
      formControlName="sourceText"
    ></textarea>
    <div class="translated-text text-container">
      {{ translatedText() }}
      <app-loading-spinner-overlay [loading]="loading()">
      </app-loading-spinner-overlay>
    </div>
  </div>
</div>
