@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;
@use './assets/themes/titlebar-theme.component' as titlebar;
@use './assets/themes/toolbar-theme.component' as toolbar;
@use './assets/themes/book-viewer-theme.component' as viewer;
@use './assets/themes/book-list-item-theme.component' as bookListItem;
@use './assets/themes/library-explorer-theme.component' as libraryExplorer;
@use './assets/themes/main-layout-theme.component' as mainLayout;

$theme: matx.define-theme(
  (
    color: (
      theme-type: light,
      primary: matx.$m3-azure-palette,
      tertiary: matx.$m3-blue-palette,
    ),
    typography: (
      bold-weight: 900,
    ),
    density: (
      scale: -1,
    ),
  )
);

@include mat.core();
@include matx.color-variants-back-compat($theme);

:root {
  @include mat.all-component-themes($theme);
  @include titlebar.theme($theme);
  @include toolbar.theme($theme);
  @include viewer.theme($theme);
  @include bookListItem.theme($theme);
  @include libraryExplorer.theme($theme);
  @include mainLayout.theme($theme);
}
