@use '@angular/material' as mat;
@use './assets/themes/titlebar-theme.component' as titlebar;
@use './assets/themes/toolbar-theme.component' as toolbar;
@use './assets/themes/book-viewer-theme.component' as viewer;
@use './assets/themes/book-list-item-theme.component' as bookListItem;
@use './assets/themes/library-explorer-theme.component' as libraryExplorer;
@use './assets/themes/main-layout-theme.component' as mainLayout;

$theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: (
      bold-weight: 900,
    ),
    density: (
      scale: -1,
    ),
  )
);


:root {
  @include mat.core();
  @include mat.all-component-themes($theme);
  @include titlebar.theme($theme);
  @include toolbar.theme($theme);
  @include viewer.theme($theme);
  @include bookListItem.theme($theme);
  @include libraryExplorer.theme($theme);
  @include mainLayout.theme($theme);
}
