:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  height: 100%;
  width: 100%;

  /*color: #0f0f0f;*/
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.spacer {
  flex: 1 0 auto;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

ngx-extended-pdf-viewer #toolbarViewerMiddle {
  position: relative !important;
  left: 0 !important;
  transform: none !important;
}

.custom-page-number {
  display: flex;
  flex-direction: row;
  span {
    text-wrap: nowrap !important;
  }
}
