html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-size: 12px;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

ngx-extended-pdf-viewer #toolbarViewerMiddle {
  position: relative !important;
  left: 0 !important;
  transform: none !important;
}

mat-sidenav[style] {
  display: block !important;
  visibility: visible !important;
}

.custom-page-number {
  display: flex;
  flex-direction: row;
  span {
    text-wrap: nowrap !important;
  }
}

.cdk-overlay-container {
  overflow: hidden !important;
}

.mat-drawer {
  transform: none !important;
}

.spacer {
  flex: 1;
}
