<div class="thumbnail-container">
  <img [src]="image()" alt="No image" />
</div>
<div>
  <div class="book-title">{{ bookItem().documentDetails.title || '-' }}</div>
  <div class="details-container">
    <div class="property-item">
      <span class="name">Описание</span>
      <span class="value">{{
        bookItem().documentDetails.description || '-'
      }}</span>
    </div>
    <div class="property-item">
      <span class="name">ISBN</span>
      <span class="value">{{ bookItem().documentDetails.isbn || '-' }}</span>
    </div>
    <div class="property-item">
      <span class="name">Издатель</span>
      <span class="value">{{
        bookItem().documentDetails.publisherName || '-'
      }}</span>
    </div>

    <div class="property-item">
      <span class="name">Общее время</span>
      <span class="value">{{ '-' }}</span>
    </div>
    <div class="property-item">
      <span class="name">Посл. время открытия</span>
      <span class="value">{{ recentAccessTime() }}</span>
    </div>
  </div>
</div>

<div class="spacer"></div>
<div class="actions">
  <button mat-icon-button (click)="handleEditEvent($event)">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-icon-button (click)="handleDeleteEvent($event)">
    <mat-icon>delete</mat-icon>
  </button>
</div>
