$list-item-row-height: 48px;
$thumbnail-height: 120px;
$thumbnail-width: 90px;

:host {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2em;
  font: inherit;
  color: inherit;
}

.thumbnail-container {
  position: relative;
  display: flex;
  height: $thumbnail-height;
  width: $thumbnail-width;

  img {
    object-fit: cover;
    overflow: hidden;
    width: auto;
    height: 100%;
  }

  mat-progress-bar {
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.info {
  flex: 1;
}

.book-title {
  overflow: hidden;
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 0.25em;
  white-space: normal;
  text-overflow: ellipsis;
  box-sizing: border-box;
}

.details-container {
  display: flex;
  flex-direction: row;
  gap: 4em;
}

.property-item {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 160px;
  width: 160px;
  .name {
    font-size: 12px;
    color: #575757;
    font-weight: 800;
    text-transform: uppercase;
  }

  .value {
    font-size: 10px;
    color: black;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
  }
}
