<div class="thumbnail-container">
  <img [ngSrc]="image()" alt="No thumbnail" fill />
  @if (showProgression && progressionValue()) {
    <mat-progress-bar [value]="progressionValue()"></mat-progress-bar>
  }
</div>
<div class="info">
  <div class="book-title">{{ bookItem().documentDetails.title || '-' }}</div>

  <div class="property-item">
    <span class="name">Автор(ы)</span>
    <span class="value">{{ bookItem().documentDetails.authors || '-' }}</span>
  </div>
  <div class="property-item">
    <span class="name">Издатель</span>
    <span class="value">{{ bookItem().documentDetails.publisherName || '-' }}</span>
  </div>
  <div class="property-item">
    <span class="name">Общее время</span>
    <span class="value">{{ '-' }}</span>
  </div>
  <div class="property-item">
    <span class="name">Посл. время открытия</span>
    <span class="value">{{ recentAccessTime() }}</span>
  </div>

  <div class="actions">
    @if (showEditButton) {
      <button mat-icon-button (click)="handleEditEvent($event)">
        <mat-icon>edit</mat-icon>
      </button> 
    }
    @if (showDeleteButton) {
      <button mat-icon-button (click)="handleDeleteEvent($event)">
        <mat-icon>delete</mat-icon>
      </button>
    }
  </div>
</div>
