<h1>Недавние</h1>
@if (mostRecentBook()) {
  <div class="most-recent-book">
    <div class="item">
      <div class="thumbnail-container">
        <img [src]="mostRecentBook()!.documentDetails.thumbnailUrl" alt="no-image" />
      </div>
      <div class="info">
        <h2 class="title">
          {{ mostRecentBook()!.documentDetails.title }}
        </h2>
        @if (mostRecentBook()!.stats?.lastViewedPage) {
          <div>
            Вы остановились на странице
            {{ mostRecentBook()!.stats?.lastViewedPage }} /
            {{ mostRecentBook()!.documentDetails.pageCount }}
          </div>
        }
      </div>
      <div class="spacer"></div>
      <button mat-flat-button (click)="openBook(mostRecentBook()!)">
        Продолжить
      </button>
    </div>
    @if (mostRecentBookProgressValue()) {
      <mat-progress-bar
        [value]="mostRecentBookProgressValue()"
      ></mat-progress-bar>
    }
  </div>
}
<app-book-list-view
  [books]="otherBooks()"
  [showEditButton]="false"
  [showDeleteButton]="false"
  (openItemEvent)="openBook($event)"
></app-book-list-view>
